
#wrapper
  #info
    #info-content
      %h1
        Logicians
        %strong lok'tar ogar
  %input#menu.menu-checkbox{:name => "menu", :type => "checkbox"}
    .menu
      %label.menu-toggle{:for => "menu"}
        %span Toggle
      %ul
        %li
          %a{:href => "#"} Menu-1
        %li
          %a{:href => "#"} Menu-2
        %li
          %label{:for => "menu-3"} Menu-3
          %input#menu-3.menu-checkbox{:name => "menu-3", :type => "checkbox"}
            .menu
              %label.menu-toggle{:for => "menu-3"}
                %span Toggle
              %ul
                %li
                  %a{:href => "#"} Menu-3-1
                %li
                  %label{:for => "menu-3-2"} Menu-3-2
                  %input#menu-3-2.menu-checkbox{:name => "menu-3-2", :type => "checkbox"}
                    .menu
                      %label.menu-toggle{:for => "menu-3-2"}
                        %span Toggle
                      %ul
                        %li
                          %a{:href => "#"} Menu-3-2-1
                        %li
                          %a{:href => "#"} Menu-3-2-2
                        %li
                          %label{:for => "menu-3-2-3"} Menu-3-2-3
                          %input#menu-3-2-3.menu-checkbox{:name => "menu-3-2-3", :type => "checkbox"}
                            .menu
                              %label.menu-toggle{:for => "menu-3-2-3"}
                                %span Toggle
                              %ul
                                %li
                                  %a{:href => "#"} Menu-3-2-3-1
                                %li
                                  %a{:href => "#"} Menu-3-2-3-2
                                %li
                                  %a{:href => "#"} Menu-3-2-3-3
                                %li
                                  %a{:href => "#"} Menu-3-2-3-4
                        %li
                          %a{:href => "#"} Menu-3-2-4
                %li
                  %a{:href => "#"} Menu-3-3
                %li
                  %a{:href => "#"} Menu-3-4
        %li
          %label{:for => "menu-4"} Menu-4
          %input#menu-4.menu-checkbox{:name => "menu-4", :type => "checkbox"}
            .menu
              %label.menu-toggle{:for => "menu-4"}
                %span Toggle
              %ul
                %li
                  %a{:href => "#"} Menu-4-1
                %li
                  %a{:href => "#"} Menu-4-2
                %li
                  %a{:href => "#"} Menu-4-3
                %li
                  %a{:href => "#"} Menu-4-4
        %li
          %label{:for => "menu-5"} Menu-5
          %input#menu-5.menu-checkbox{:name => "menu-5", :type => "checkbox"}
            .menu
              %label.menu-toggle{:for => "menu-5"}
                %span Toggle
              %ul
                %li
                  %a{:href => "#"} Menu-5-1
                %li
                  %a{:href => "#"} Menu-5-2
                %li
                  %a{:href => "#"} Menu-5-3
                %li
                  %a{:href => "#"} Menu-5-4
        %li
          %a{:href => "#"} Menu-6
/ #wrapper